<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>OAuth FB Events Demo</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="login.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<body>
  <div class="login">
    <h1 id="status">Login</h1>
    <button id="fbLink" class="loginBtn loginBtn--facebook">Login with Facebook</button>
    <!-- <h3 id="directMsg" style="display: none;">You will redirect to event page</h3> -->
<!--     <div id="spinner"style="background: #4267b2; border-radius: 5px; color: white; height: 40px; text-align: center; width: 250px; text-align: center;">Loading
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-scope="user_events" data-button-type="continue_with" data-use-continue-as="true"></div>
    </div> -->
  </div>
</body>

<script>
  $(document).ready(function () {
    $("#fbLink").click(fbRequest);
  });
  function fbRequest() {
    var AUTH_ENDPOINT = "https://www.facebook.com/dialog/oauth";
    var RESPONSE_TYPE = "code";
    var CLIENT_ID = "301634764001016";
    var REDIRECT_URI = "http://localhost:3000/events";
    var SCOPE = "public_profile user_events";

    var requestEndpoint = AUTH_ENDPOINT + "?" +
    "response_type=" + encodeURIComponent(RESPONSE_TYPE) + "&" +
    "client_id=" + encodeURIComponent(CLIENT_ID) + "&" +
    "redirect_uri=" + encodeURIComponent(REDIRECT_URI) + "&" +
    "scope=" + encodeURIComponent(SCOPE);

    window.location.href = requestEndpoint;
  }
</script>

<!-- 

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '301634764001016',
      status     : false,
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });

    // FB.login(function(response) {
    //   console.log(response);
    // }, {
    //   scope: 'user_events'
    // });

    FB.AppEvents.logPageView();
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
    }
  }
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
      'Thanks for logging in, ' + response.name + '!';
    });

    // setTimeout(goToEvents(), 3000);
  }

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  var finished_rendering = function() {
    console.log("finished rendering plugins");
    var spinner = document.getElementById("spinner");
    spinner.removeAttribute("style");
    spinner.removeChild(spinner.childNodes[0]);
  }
  FB.Event.subscribe('xfbml.render', finished_rendering);

};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "https://connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
 -->
</html>